{% extends 'base.html.twig' %}

{% block title ' Politique de confidentialité' %}

{% block body %}

	<section class="inner-section">
		<div class="container">
			<div class="row gutters-40">
				<div class="col-xl-12 col-lg-12">
					<div class="single-post-layout1">
						<div class="post-details">
							<div style="text-align:center;margin-bottom:75px;">
								<h1>Politique de confidentialité</h1>
							</div>
							<h3>1. Collecte de vos données personnelles</h3>
							<h4>1.1 Données personnelles</h4>
							<p>
								Lors de l'utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations 
								personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations
								personnellement identifiables peuvent inclure, sans s'y limiter :
							</p>
							<ol>
								<li>Des informations comme votre adresse e-mail, que vous nous fournissez lors de votre inscription au site.</li>
							</ol>
							<h4>1.2 Données d'utilisation</h4>
							<p>Les Données d'utilisation sont collectées automatiquement lors de l'utilisation de notre site internet.</p>
							<p>
								Les données d'utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre appareil 
								(par exemple, l'adresse IP), le type de navigateur, la version du navigateur, les pages de notre site internet que vous visitez, 
								l'heure et la date de votre visite, le temps passé sur ces pages, l'appareil unique identifiants et autres données de diagnostic.
							</p>

							<h3>2. Cookies</h3>
							<p>
								Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre service et stocker 
								certaines informations. Les technologies de suivi utilisées sont des balises, des balises et des scripts pour collecter 
								et suivre les informations et pour améliorer et analyser Notre Service. Les technologies que nous utilisons peuvent inclure
							</p>
							<h6>2.1 Cookies ou cookies de navigateur.
							</h6>
							<p>
								Un cookie est un petit fichier placé sur votre appareil. Vous pouvez demander à Votre navigateur de refuser tous les Cookies ou d'indiquer 
								lorsqu'un Cookie est envoyé. Cependant, si vous n'acceptez pas les cookies, vous ne pourrez peut-être pas utiliser certaines parties de notre 
								service. À moins que vous n'ayez ajusté les paramètres de votre navigateur pour qu'il refuse les cookies, notre service peut utiliser des cookies.
							</p>
							<p>
								Les cookies peuvent être des cookies « persistants » ou « de session ». Les cookies persistants
								restent sur votre ordinateur personnel ou appareil mobile lorsque vous vous déconnectez, tandis que les 
								cookies de session sont supprimés dès que vous fermez votre navigateur Web.
							</p>
							<h3>3. Transmission de vos données personnelles</h3>
							<p>Vos données ne sont pas partagées avec un tiers.</p>

							<h3>4. Modifications de cette politique de confidentialité</h3>
							<p>
								Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Nous vous informerons de tout changement en publiant 
								la nouvelle politique de confidentialité sur cette page.
							</p>
							<p>
								Il vous est conseillé de consulter périodiquement cette politique de confidentialité pour tout changement. 
								Les modifications apportées à cette politique de confidentialité entrent en vigueur lorsqu'elles sont publiées sur cette page.
							</p>
							<h3>5. Nous contacter</h3>
							<p>Si vous avez des questions sur cette politique de confidentialité, vous pouvez nous contacter
							</p>
							<p>En utilisant la page
								<a href="{{ path('contact') }}">contact</a>
								de notre site</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
