<table class="min-w-full border-collapse border-spacing-y-2 border-spacing-x-2">
	<thead class="hidden border-b lg:table-header-group">
		<tr class="">
			<td class="whitespace-normal py-4 text-sm font-semibold text-gray-800 sm:px-3">
				Date
			</td>
			<td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-3">
				Commande
			</td>
			<td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-3">
				Montant
			</td>
			<td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-3">
				Status
			</td>
			<td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-3">
				Actions
			</td>
		</tr>
	</thead>

	<tbody class="bg-white lg:border-gray-300">

		{% for order in orders %}
			<tr class="">
				<td class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell">
					{{ order.createAt | date("d/m/Y") }}
				</td>
				<td class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell">
					{{ order.orderNumber }}
				</td>
				<td class="whitespace-no-wrap hidden py-4 text-left text-sm text-gray-600 sm:px-3 lg:table-cell lg:text-left">
					{{ order.price }}
					€
				</td>
				<td class="whitespace-no-wrap py-4 text-right text-sm text-gray-600 sm:px-3 lg:text-left">

					{% if order.status ==0 %}
						<span class="ml-2 mr-3 whitespace-nowrap rounded-full bg-purple-100 px-2 py-0.5 text-purple-800">
							Attente de validation
						</span>
					{% elseif order.status  == 1 %}
						{% if order.state == 1 %}
							<span class="ml-2 mr-3 whitespace-nowrap rounded-full bg-purple-100 px-2 py-0.5 text-purple-800">
								en cours d'impression
							</span>
						{% elseif order.state  == 2 %}
							<span class="ml-2 mr-3 whitespace-nowrap rounded-full bg-purple-100 px-2 py-0.5 text-purple-800">
								en cours de livraison
							</span>
						{% elseif order.state  == 3 %}
							<span class="ml-2 mr-3 whitespace-nowrap rounded-full bg-purple-100 px-2 py-0.5 text-purple-800">
								livré
							</span>
						{% endif %}
					{% endif %}
				</td>
				<td class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-3 lg:table-cell">
					<a href="{{ path('user.orders.show', {'id': order.id}) }}" >
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"/>
							<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
						</svg>
					</a>
				</td>
			</tr>
		{% endfor %}


	</tbody>
</table>
