{% extends "base.html.twig" %}
{% block title 'Erreur 403' %}
{% block body %}


	<section class="flex items-center h-full p-16 bg-gray-50 text-gray-800">
		<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
			<div class="max-w-md text-center">
				<h2 class="mb-8 font-extrabold text-9xl text-red-600">
					<span class="sr-only">Error</span>404
				</h2>
				<p class="text-2xl font-semibold md:text-3xl">Oups! Désolé, vous n'avez pas les permissions pour accéder à cette page.</p>
				<a rel="noopener noreferrer" href="{{ path('app.home') }}" class="px-8 py-3 font-semibold rounded bg-primary text-white">ALLER À LA PAGE D'ACCUEIL</a>
			</div>
		</div>
	</section>


{% endblock %}
