<div class="mx-auto max-w-screen-xl bg-white">
	<div class="bg-white py-2 px-3">
		<nav class="flex flex-wrap gap-4">
			<a href="#" class="inline-flex whitespace-nowrap border-b-2 border-transparent py-2 px-3 text-sm font-medium text-gray-600 transition-all duration-200 ease-in-out hover:border-b-secondary hover:text-secondary">
				Compte
			</a>

			<a href="#" class="inline-flex whitespace-nowrap border-b-2 border-transparent py-2 px-3 text-sm font-medium text-gray-600 transition-all duration-200 ease-in-out hover:border-b-secondary hover:text-secondary">
				Paramètres
			</a>

			<a href="#" class="inline-flex whitespace-nowrap border-b-2 border-transparent border-b-secondary py-2 px-3 text-sm font-semibold text-secondary transition-all duration-200 ease-in-out">
				Commandes
			</a>

		</nav>
	</div>
</div>
